{% extends "walletdestroyer/base.html" %}
{% block forma %}
<form class="row g-1">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Дата</label>
        <input name="date" type="date" class="form-control" id="inputEmail4" placeholder="Год-месяц-день">

    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
        <textarea name="disription" class="form-control" id="exampleFormControlTextarea1"
                  placeholder="Укажите на что вы потратили деньги" rows="3">wqerwer</textarea>
    </div>
    <div class="col-md-5">
        <label for="inputState" class="form-label">Категория</label>
        <select name="category" id="inputState" class="form-select">
            <option selected>Выберите</option>
            <option>1 punkt</option>
            <option>2 punkt</option>
            <option>3 punkt</option>
            <option>4 punkt</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="inputZip" class="form-label">Цена</label>
        <input name="cost" type="text" class="form-control" id="inputZip">
    </div>
    <div class="row g-1">
        <button name="button" class="btn btn-primary">Добавить запись</button>
    </div>
</form>
{% endblock %}